body {
   margin: 0px;
}

header, .hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
   padding-bottom: 20px;
}

h1 {
font-size: 48px;
font-weight: bolder;
color: #F9FAF8;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    
}

.description{
color: #e5e7eb;
font-size: 18px;
font-family: "Century Gothic", sans-serif;
}

.hero-text button{
    background-color: #3882f6;
    border: none;
    padding: 10px 25px;
    color:#F9FAF8;
    border-radius: 5px;
}

.logo{
    font-size: 34px;
    color: #F9FAF8;
    font-family: "Brush Script MT"
}


#hero-image {
    width: 350px;
   
}

.photos{
    display: flex;
    justify-content: center;
    
}

.photos img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

figcaption{
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
    padding: 60px;
}

.quote p{
    text-align: right;
    font-weight: bold;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.cta{
    display: flex;
    background-color: #3882f6;
    margin: 120px 200px;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;

}
.invitation {
    color: #F9FAF8;
    font-size: 28px;
    font-weight: bold;
}   

.cta-button {
    background-color: #3882f6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 5px 20px;
    border-radius: 8px;
}

.cta-text p{
    margin: 10px;
    
}

footer{
    background-color: #1F2937;
    text-align: center;
    color:#F9FAF8;
    padding: 20px;
}

